<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELI-VERY DISPATCHER</title>
  <link rel="stylesheet" href="css/deli-very.css">
  <script src="/vue/vue.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="js/dispatcher.js" defer></script>
</head>
<body>
  <div id="orders">
    <div id="orderList">
      <!-- <h3 v-if="orders.length > 0"> Order Confirmation</h3> -->
      <div v-for="info in orders">
        <div v-for="i in info">
          <!-- {{info}} -->
           <b>#{{i.orderNumber}}</b> <br>
           {{i.selectedItem.join(", ")}} <br>
          <!-- <p> <b>Position:</b>  {{i.position.x}}, {{i.position.y}}</p> -->
          <!-- <p> <b>Customer information:</b>  </p> -->
          {{i.personInfomation[0]}},
          {{i.personInfomation[1]}},
          {{i.personInfomation[2]}},
          {{i.personInfomation[3]}}
          <hr>
        </div>
      </div>
    </div>


  <div id="dots">
    <div v-for="info in orders">
      <div v-for="i in info">
        <div v-bind:style="{ left: i.position.x + 'px', top: i.position.y + 'px'}">
          {{i.orderNumber}}
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</body>
</html>
