<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Let's have some burger!</title>
        <meta charset="utf-8"/>
    </head>
    <body>
			<main id="top">
				<h1>Welcome to Burger Paradise</h1>
        <img id="restaurant" src="https://sirenuse.it/media/39633/bar_restaurants_lasponda_1michelin-star-positano_02.jpg">
			</main>
				<section id="burgerSelection">
					<h3>Select a burger:</h3>
					<p>You can select one of these burger:</p>
					<table>
						<thead>
							<tr>
								<th>Small burger</th>
								<th>Medium burger</th>
								<th>Large burger</th>
							</tr>
						</thead>
						<tbody>
							<tr align="center">
								<td><img src="https://lh3.googleusercontent.com/i-vHb3CryeDkJrTydwmJFJ1M1HrFtjAGIDC5xI7wI7bkOqV_iV0Zpr6jtm-9Lmv6n1pgkMBhJHSb2Ef1XMxLEQ=s400" alt="Span" title="Another in-line element" width="100"></td>
								<td><img src="https://bk-emea-prd.s3.amazonaws.com/sites/burgerking.dk/files/Thumb_0005_Whopper_0.jpg" alt="Span" title="Another in-line element" width="100"></td>
								<td><img src="https://www.speed-burger.com/images/585x585/carte_articles/burger_sandwiches/burger-buffalo-detail.png" alt="Span" title="Another in-line element" width="100"></td>
							</tr>
							<tr class="ingredients">
								<td>
									<ul>
										<li >Beef</li>
										<li>Salad</li>
										<li>Dressing(lactose)</li>
										<li>Bread(Gluten)</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Beef</li>
										<li>Salad</li>
                    <li>Dressing(lactose)</li>
										<li>Bread(Gluten)</li>
									</ul>
								</td>
								<td>
									<ul>
										<li>Beef</li>
										<li>Salad</li>
                    <li>Dressing(lactose)</li>
										<li>Bread(Gluten)</li>
									</ul>
								</td>
							</tr>
						</tbody>
						<tfoot>

						</tfoot>
					</table>
				</section>
				<section id="customerinfo">
					<h3>Customer Information:</h3>
					Information about the Customer!
          <h4>Delivery Information:</h4>
          <form>
            <p>
              <label for="fullname">Full name</label><br>
              <input type="text" id="fullname" name="fn" required="required" placeholder="First and last name">
            </p>

            <p>
              <label for="email">E-mail</label><br>
              <input type="text" id="email" name="em" required="required" placeholder="Email address">
            </p>

            <p>
              <label for="street">Street name</label><br>
              <input type="text" id="street" name="st" required="required" placeholder="Street name">
            </p>

            <p>
              <label for="housenumber">House</label><br>
              <input type="number" id="housenumber" name="h" required="required" placeholder="House number">
            </p>

            <p>
              <label for="payment">Payment</label><br>
              <select id="recipient" name="rcp">
                <option>Credit card</option>
                <option>Apple pay</option>
                <option>Bank transaction</option>
                <option>Paypal</option>
              </select>
            </p>
            <p>
              <label for="gender">Gender</label><br>
              <input type="radio" name="gender" value="male"> Male<br/>
              <input type="radio" name="gender" value="female"> Female<br/>
              <input type="radio" name="gender" value="nothing" checked="checked"> Do not wish to provide
            </p>
          </form>
          <button type="submit"><img src="https://cdn2.iconfinder.com/data/icons/tasty-bites-icon-set/512/hambruger.png" width="20" height="20"> Order burger!</button>

				</section>
				<hr>
			<footer>&copy;SPAGHETTI: Website for ordering burgers - Linoj Ravindran</footer>
    </body>
</html>
